.*
~*
!.dockerignore
!.dockerignoredo
!.git
!.python-version
!.github/
!.gitignore
!.pre-commit-config.yaml
!.envrc
!.idea
!.semgrep

!tests/.coveragerc
!docs/**/.pages

junit.xml
coverage.xml

*.egg-info

src/hope_payment_gateway/version.py
src/hope_payment_gateway/static

node_modules/
dist/

__pycache__
.idea
/.envrc
