{% extends "admin_extra_buttons/action_page.html" %}
{% load static xml_format %}

{% block content %}

<i>{% autoescape on %}
    {{ msg|linebreaksbr }}
{% endautoescape %}
</i>

<pre>
<h2>Request:</h2>
{% if request_format == "json" %}
{{ content_request|pprint }}{% else %}{{ content_request }}
{% endif %}
</pre>

<hr>

<pre>
<h2>Response:</h2>
{% if response_format == "json" %}
{{ content_response|pprint }}
{% elif response_format == "xml" %}
{% display_xml content_response %}
{% else %}
{{ content_response }}
{% endif %}
</pre>

{% endblock content %}
